.nbr-msg {
    display: none; /* Initially hidden */
    position: absolute;
    top: -1px;
    right: -1px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  /* When the notification is shown */
  .nbr-msg.show {
    display: flex; /* Show the notification dot */
  }