<h1 class="text-3xl font-bold text-gray-800 mb-8 ">Settings</h1>
<div class="mx-auto  bg-white rounded-lg shadow-sm rounded-lg bg-gray-50 p-4">
    <!-- Header -->
   
  
    <!-- Account Section -->
    <section class="mb-10 ">
        <form action="" class="">
            <div class="flex gap-x-6 mb-6">
            <div class="w-full relative">
              <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">First Name <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
                </svg>
              </label>
              <input value="Alex" type="text" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            <div class="w-full relative">
              <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">Last Name <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
                </svg>
              </label>
              <input  value="Mitnick" type="text" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            </div>
            <div class="relative mb-6">
            <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">Email Address <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
              </svg>
            </label>
            <input value="alex@gmail.com"type="text" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            <div class="flex gap-x-6 mb-6">
            <div class="w-full relative">
              <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">Password <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
                </svg>
              </label>
              <input value="alex@gmail.com" type="password" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            <div class="w-full relative">
              <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">Confirm Password <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
                </svg>
              </label>
              <input value="alex@gmail.com" type="password" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            </div>
            <div class="relative mb-6">
            <label class="flex  items-center mb-2 text-gray-600 text-sm font-medium">Phone Number <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444" />
              </svg>
            </label>
            <input value="52896654" type="text" id="default-search" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none " placeholder="" required="">
            </div>
            <button class="w-52 h-12 shadow-sm rounded-md bg-indigo-600 hover:bg-indigo-800 transition-all duration-700 text-white text-base font-semibold leading-7">Update</button>
            </form>
    </section>
  
    
  
    <!-- Notifications Section -->
    <section class="">
      <h2 class="text-2xl font-semibold text-gray-700 mb-6 border-b pb-2">Notifications</h2>
      
      <div class="mb-8">
        <h3 class="text-xl font-medium text-gray-800 mb-4">About & Notifications</h3>
        <div class="space-y-4">
          <div>
            <h4 class="font-medium text-gray-700">Details: Customer updates</h4>
            <p class="text-gray-600">Our results come, questionnaires, and product options</p>
          </div>
          <div>
            <h4 class="font-medium text-gray-700">Annual activity</h4>
            <p class="text-gray-600">Our project collection does not use a charity group instead</p>
          </div>
          <div>
            <h4 class="font-medium text-gray-700">Media post notifications</h4>
            <p class="text-gray-600">Working with relevant customer and company inquiries and attention</p>
          </div>
          <div>
            <h4 class="font-medium text-gray-700">Email notification</h4>
            <p class="text-gray-600">Contact mail notification whenever you company inquiries and attention</p>
          </div>
          <div>
            <h4 class="font-medium text-gray-700">Media post notifications</h4>
            <p class="text-gray-600">We're going about a number Monday a period which is my section</p>
          </div>
        </div>
      </div>
  
      <div class="mb-8">
        <h3 class="text-xl font-medium text-gray-800 mb-4">Email newsletter</h3>
        <div class="space-y-4">
          <div>
            <h4 class="font-medium text-gray-700">Contact contact</h4>
            <p class="text-gray-600">Contact email to us via a notification server at the website</p>
          </div>
          <p class="text-gray-600">I receive notification to welcome extra assistance.</p>
          <p class="font-medium text-gray-700">Agent follow-up</p>
          <p class="text-gray-600">Location: another by website</p>
        </div>
      </div>
  
      <div>
        <h3 class="text-xl font-medium text-gray-800 mb-4">Subscribe me to:</h3>
        <div class="space-y-4">
          <p class="text-gray-600">Submit email email for Facebook and Twitter calls</p>
          <div>
            <h4 class="font-medium text-gray-700">Question:</h4>
            <p class="text-gray-600">A website can be a provider has been updated or launched</p>
          </div>
          <p class="font-medium text-gray-700">Together community</p>
          <div>
            <h4 class="font-medium text-gray-700">Phone/fax:</h4>
            <p class="text-gray-600">Please check some and welcome proper appointments</p>
          </div>
          <p class="font-medium text-gray-700">Page taken:</p>
        </div>
      </div>
    </section>
  
   
  </div>